.search-button {
  padding: 9px;
  background: transparent;
  & svg {
    font-size: 1.6rem;
    color: #333 !important;
  }
}

// @media screen and (min-width: 768px) {
//   .search-button {
//     display: none;
//   }
// }
