.product-detail-container {
  padding: 80px 1rem 0 1rem;
  background: $productDetailBg;
  position: relative;
  &__wishlist-button {
    bottom: auto !important;
    top: 0.3rem !important;
    right: 0.3rem !important;
    background: #f5f5f5 !important;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem !important;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__name {
      margin-top: 2rem;
    }
    &__price {
      color: #6b37d1;
    }
    &__desc {
      overflow: hidden;
      transition: all 0.4s;
      position: relative;
      line-height: 1.8rem;
      font-size: 0.95rem;
      & p {
        font-size: 0.95rem;
      }
    }
  }
}

.swiper-wrapper {
  flex-direction: row !important;
}

.btn-not-allowed {
  cursor: not-allowed;
  color: #d3d3d3 !important;
}

.product-desc-reveal {
  max-height: 200vh;
}
