.related {
  margin: 1.5rem 0;
  padding-bottom: 1rem;
  &__headline {
    text-align: center;
  }
  &__slider {
    margin-top: 1.3rem;
    &__slide {
      flex: 0 0 35%;
    }
  }
}

@media screen and (min-width: "1250px") {
  .related__slider__slide {
    flex: 0 0 30% !important;
  }
}

@media screen and (min-width: "1450px") {
  .related__slider__slide {
    flex: 0 0 25% !important;
  }
}
