.cart-container__product {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background: $cartProductBg;
  border-radius: 18px;
  transition: 0.3s all;
  &__image {
    position: relative !important;
    width: 40% !important;
    aspect-ratio: 1/1 !important;
    object-fit: contain;
    background: transparent;
    border-radius: 15px;
    margin: 1vh 0 1vh 1vh;
  }
  &__desc {
    padding: 0 1rem 0 1rem;
    line-height: 2rem;
    &__name {
      color: $cartFontColor;
      font-size: 1rem;
      font-weight: 600;
    }
    &__price {
      font-weight: 700;
      font-size: 1.2rem;
      color: $cartFontColor;
    }
    &__qty {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      &__button {
        margin-top: 2px;
        border-radius: 0;
        padding: 0;
        background: transparent;
        color: #6b37d1;
        font-size: 1.7rem;
      }
      &__value {
        font-weight: bold;
        font-size: 1.1rem;
        // margin: 0 1rem;
        color: $cartFontColor;
      }
    }
  }

  &__delete-btn {
    align-self: center;
    justify-items: flex-end;
    margin-left: auto;
    background: transparent;
    border-radius: 0;
  }
}

.btn-inactive {
  color: #5329a3;
}
