.blur {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #646464ab;
  backdrop-filter: blur(30px);
}

.navbar-top-right-transition {
  width: 112px !important;
  background: #6b37d1 !important;
  border-radius: 20px;
}

.navbar-top-left-transition {
  background: #ffffff !important;
  border-radius: 0 20px 20px 0;
}

.search-input-transition {
  padding: 11px 0 11px 43px !important;
}

.navbar-full-width {
  width: 100%;
}
