.blur {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #646464ab;
  backdrop-filter: blur(6px);
}

//Navbar scroll transitions
.navbar-top-right-transition {
  width: 161px !important;
  background: #ffffff !important;
  border-radius: 20px 0 0 20px;
}

.navbar-top-right-full-width {
  width: 100% !important;
}

.navbar-top-left-transition {
  background: #ffffff !important;
  border-radius: 0 20px 20px 0;
}

//Search input active transition
.search-input-transition {
  padding: 11px 0 11px 43px !important;
}

// //Class added to search form when is active
// .search-form-full-width {
//   //Navbar position must not be relative
//   position: fixed;
//   left: calc(61px + 0.5rem);
//   right: calc(61px + 0.5rem);
//   top: 1.2rem;
// }

// @media screen and (min-width: 768px) {
//   .search-form-full-width {
//     left: calc(115px + 0.5rem);
//     right: calc(115px + 0.5rem);
//   }
// }

// @media screen and (min-width: 1200px) {
//   .search-form-full-width {
//     left: calc(117px + 6rem);
//     right: calc(117px + 6rem);
//   }
// }

// @media screen and (min-width: "1500px") {
// }

// @media screen and (min-width: "1600px") {
// }
