@import "./variables";
@import "./mixins";
@import "./animations";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

body::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f5f5f5; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #5329a3; /* color of the scroll thumb */
  border-radius: 0; /* roundness of the scroll thumb */
  border: 3px solid #5329a3; /* creates padding around scroll thumb */
}

h2 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #262626;
}

p {
  font-size: 1rem;
  color: #262626;
}

span {
  font-size: 1rem;
}

h1 {
  color: #262626;
}

h2 {
  color: #262626;
}

h3 {
  color: #333;
}

button {
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  border: 0;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 500;
}

button,
input,
select,
textarea {
  font-family: inherit !important; // Ensure buttons and inputs use the Rubik font from parent
}

li {
  font-size: 1rem;
}

.active {
  color: #5329a3;
}

.bold {
  font-weight: bold;
}

.login-modal-open {
  overflow: hidden;
}

.page {
  background: $homeBg;
  min-height: 100vh;
  padding: 100px 1rem 1rem 1rem;
  position: relative;
  z-index: 2;
}

//Layout classes
.flex-center {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem !important;
}

.sanity-container {
  height: 100%;
}

.loading-page {
  background: $homeBg;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 100;
  &__spin {
    display: inline-block;
    width: 60px;
    aspect-ratio: 1/1;
    margin: auto;
    &::after {
      content: "";
      display: block;
      width: 50px;
      aspect-ratio: 1/1;
      border: 5px solid #333;
      border-radius: 50%;
      border-color: #333 transparent #333 transparent;
      animation: rotateSpin 1s linear infinite;
    }
  }
}

@keyframes rotateSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: "1200px") {
  .page {
    padding: 90px 6rem 6rem 6rem;
  }
}

@media screen and (min-width: "1500px") {
  .page {
    padding: 100px 9rem 9rem 9rem;
  }
}

@media screen and (min-width: "1600px") {
  .page {
    padding: 100px 11rem 11rem 11rem;
  }
}
