@mixin shoppingCartIcon {
  position: relative;
  background: #f5f5f5;
  padding: 9px;
  svg {
    color: #333 !important;
    z-index: 2;
  }
  &__qty {
    z-index: 3;
    position: absolute;
    bottom: -3px;
    right: 0;
    background: #6b37d1;
    color: #fff;
    border-radius: 180px;
    padding: 2px 5px;
  }
}
