.signout-button {
  border-radius: 15px;
  // border-top: 1px solid rgba(134, 134, 134, 0.479);
  background: #6b37d1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-right: auto;
  & h4 {
    color: #fff;
  }
}
